<div class="dashboard-container">
  <mat-toolbar color="primary">
    <span>Система начисления зарплаты</span>
    <span class="spacer"></span>
    <span *ngIf="currentUser" class="user-info">
      <mat-icon>account_circle</mat-icon>
      {{ currentUser.username }}
    </span>
  </mat-toolbar>

  <div class="content">
    <h1>Добро пожаловать, {{ currentUser?.username }}!</h1>
    <p>Вы вошли в систему начисления заработной платы.</p>
    <!-- Здесь будет основное содержимое дашборда -->
  </div>
</div>
